---
http_interactions:
- request:
    method: get
    uri: http://services2.arcgis.com/hMIIIBIOpi8Cdgjw/arcgis/rest/services/ubs/FeatureServer/0/query?f=pjson&returnIdsOnly=true&where=1%20%3E%202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - sd1_715512020
    body:
      encoding: UTF-8
      string: "{\r\n  \"objectIdFieldName\" : \"FID\", \r\n  \"objectIds\" : []\r\n}"
  recorded_at: Mon, 30 Dec 2013 22:21:58 GMT
- request:
    method: get
    uri: http://services2.arcgis.com/hMIIIBIOpi8Cdgjw/arcgis/rest/services/ubs/FeatureServer/0/query?f=pjson&outFields=*&where=FID%20%3E=%20%20AND%20FID%20%3C=%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: "\r\n{\r\n  \"error\" : \r\n  {\r\n    \"code\" : 400, \r\n    \"message\"
        : \"\", \r\n    \"details\" : [\r\n      \"'where' parameter is invalid\"\r\n
        \   ]\r\n  }\r\n}"
  recorded_at: Mon, 30 Dec 2013 22:21:59 GMT
recorded_with: VCR 2.8.0
